td, th {
    text-align: left;
    padding: 8px;
  }
  th{
    background-color: #29a1fc;
    color: aliceblue;
  }
  
  tr:nth-child(even) {
    background-color: #83c9ff;
  }

  div{
    background-color: #010507;
  }